<div class="row todo-container">
  <div class="col-md-12">
    <h1 class="text-center my-">Plan Your Day</h1>
    <form>
      <div class="form-group">
        <input
          #taskInput
          type="text"
          name="task"
          placeholder="..."
          class="form-control"
          (keyup.enter)="addTask(taskInput)"
        />
        <button class="btn btn-primary my-2" (click)="addTask(taskInput)">
          Save Task
        </button>
      </div>
    </form>
  </div>

  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let task of tasks; let i = index">
        {{ task }}
        <span class="edit-btn"
          ><button (click)="editTask(i)" class="btn btn-info">
            Edit Task
          </button></span
        >
        <span class="delete-btn"
          ><button class="btn btn-danger" (click)="deleteTask(i)">
            Delete
          </button></span
        >
      </li>
    </ul>
  </div>
</div>
